<nav id="mobileNavigation">
        <div class="index active homepage">
          <a href="index.html">
            Home
          </a>
        </div>
        <div class="index">
          <a href="about-us.html">
            How it Works
          </a>
        </div>
        <div class="index">
          <a href="gallery.html">
            Gallery
          </a>
        </div>
        <div class="index">
          <a href="contact-us.html">
            Contact Us 
          </a>
        </div>
        <div class="index">
          <a href="sign-up.html">
            Login/Sign Up
          </a>
        </div>
  </nav>