<main id="page" role="main" ng-controller="aboutController">
            <div id="content" class="main-content" data-content-field="main-content" data-collection-id="57cc504cb3db2bbff3d71dfe" >
               <!-- Create index sections -->
               <div id="meettheteam" class="index-section" data-url-id="meettheteam" data-collection-id="57cc53d52994ca4d3c11f4f0" data-edit-main-image="Banner">
                  <div class="promoted-gallery-wrapper"></div>
                  <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
                     <div class="color-overlay"></div>
                     <figure id="thumbnail" class="loading content-fill">
                        <img src="images/about-banner.jpg" alt="Progressive-Profiling.jpg"  />
                     </figure>
                     <div class="desc-wrapper" data-content-field="description">
                        <p><strong>How it Works</strong></p>
                        <p> </p>
                     </div>
                  </div>
                  <div class="index-section-wrapper page-content">
                     <div class="content-inner has-content" data-content-field="main-content">
                        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1473691048241" id="page-57cc53d52994ca4d3c11f4f0">
                           <div class="row sqs-row">
                              <div class="col sqs-col-12 span-12">
                                 <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-bc3c2c538d252f9b72f4">
                                    <div class="sqs-block-content">
                                       <h1 class="text-align-center">How it Works</h1>
                                       <p style="text-align:justify"><span style="font-size:12.0pt">Read A Book Challenge is a platform which intends to bring together those people who have books which they have already read and have lying around the house – by monetising the same – and those who want to delve into titles and genres they never have. So simply put, the initiative takes the books from the “Haves” and lends it to the “Want to Read”s for a month.</span></p>
                                    </div>
                                 </div>
                                 <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_2_1473063526850_11539">
                                    <div class="sqs-block-content">
                                       <div class="image-block-outer-wrapper layout-caption-below ">
                                          <div class="intrinsic" style="max-width:1920.0px;">
                                             <div  class="" data-description=""  data-lightbox-theme="dark" >
                                                <img class="thumb-image img-responsive" src="images/about-download.jpg" ng-click="showPopup('about-download.jpg')"/>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_8_1473063526850_18698">
                                    <div class="sqs-block-content">
                                       <h2>For Readers</h2>
                                       <p style="text-align:justify"><span style="font-size:12.0pt">Once you register, all you need to do is await your monthly package. Every package consists of a few books – which are a surprise – and all you need to do, is read them. This package will be delivered to your address on the 1st or 15th of each month and at the end of 30 days, you need to return the books and get a new package for the next month. In case you are not able to finish reading those books,you have the option of extending your package for 2 weeks or for another month, for a nominal charge.&nbsp;</span></p>
                                       <p style="text-align:justify"><span style="font-size:12.0pt">Shouldn’t there be more to? Nope… We’re afraid not!</span></p>
                                       <p>
                                          <!--EndFragment-->
                                       </p>
                                       <h2>For Endorsers</h2>
                                       <p>
                                          <span style="font-size:12.0pt">Ever wondered what to do with all the books you have lying around your house – those that you’ve already finished reading? Well,&nbsp;Read a Book Challenge is the perfect opportunity for such people, who can endorse their books to us and have them put to use by allowing multiple other readers have access to them. What’s more, you get paid a sum for each book and can call for the book, whenever you want it back… Give yourself a little pinch – nope, you are not dreaming.&nbsp;</span><!--EndFragment-->
                                       </p>
                                    </div>
                                 </div>
                                 <div class="sqs-block html-block sqs-block-html sqs-col-6 span-6 float float-left" data-block-type="2" id="block-yui_3_17_2_2_1473063526850_35554">
                                    <div class="sqs-block-content">
                                       <h2>Interested in Endorsing ?</h2>
                                    </div>
                                 </div>
                                 <div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_2_1473063526850_16301">
                                    <div class="row sqs-row">
                                    <div class="col sqs-col-6 span-6">
                                    <div class="sqs-block-content">
                                       <div class="form-wrapper">
                                          <div class="form-inner-wrapper">
                                             <form ng-submit="submit()" name="endorse">
                                                <div class="field-list clear">
                                                   <fieldset id="name-yui_3_17_2_2_1473063526850_16306" class="form-item fields name required">
                                                      <div class="title">Name <span class="required">*</span></div>
                                                      <legend>Name</legend>
                                                      <div class="field first-name">
                                                         <label class="caption"><input class="field-element field-control" name="fname"
                                                            x-autocompletetype="given-name" type="text"
                                                            spellcheck="false"
                                                            maxlength="30"
                                                            data-title="First" 
															ng-model="endorse.first_name"/>
                                                         First Name</label>
                                                      </div>
                                                      <div class="field last-name">
                                                         <label class="caption"><input class="field-element field-control" name="lname"
                                                            x-autocompletetype="surname" type="text"
                                                            spellcheck="false" maxlength="30" data-title="Last" 
															ng-model="endorse.last_name"/>
                                                         Last Name</label>
                                                      </div>
                                                   </fieldset>
                                                   <div class="form-item field number required">
                                                      <label class="title">Contact Number <span class="required">*</span></label>
                                                      <input class="field-element" type="text" spellcheck="false" numbers-only ng-model="endorse.phone" maxlength="10"/>
                                                   </div>
                                                   <div class="form-item field email required">
                                                      <label class="title">Email Address <span class="required">*</span></label>
                                                      <input class="field-element" name="email" type="text" spellcheck="false" ng-model="endorse.emailid"/>
                                                   </div>
                                                   <div class="form-item field number required">
                                                      <label class="title">Number of books you can endorse <span class="required">*</span></label>
                                                      <div class="description">Give us an approx number of books that you'd like to endorse.</div>
                                                      <input class="field-element" type="text" spellcheck="false" numbers-only ng-model="endorse.books"/>
                                                   </div>
                                                </div>
                                                <div class="form-button-wrapper form-button-wrapper--align-left">
                                                   <input class="button sqs-system-button sqs-editable-button" type="submit" value="Submit" ng-disabled="endorse.$invalid"/> 
												   <span class="panel-danger">{{message}}</span>
												   <span class="panel-success">{{SuccessMessage}}</span>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                    </div>
                                    </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
			<div id="img-pop" class="fin-modal modal-lg">
				<div class="read-popup">
					<form autocomplete="on" action="" method="POST" onsubmit="">
						<div class="field-list clear">
							<img src="images/{{imgSrc}}" width="100%">
						</div>
					</form>
				</div>
			</div>
         </main>