<main id="page" role="main">
            <div id="content" class="main-content" data-content-field="main-content" data-collection-id="57ce904846c3c40137614551" >
               <!-- Create index sections -->
               <div id="hire-us" class="index-section" data-url-id="hire-us" data-collection-id="57cc5024e3df282738e55499" data-edit-main-image="Banner">
                  <div class="promoted-gallery-wrapper"></div>
                  <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
                     <div class="color-overlay"></div>
                     <figure id="thumbnail" class="loading content-fill">
                        <img src="images/contact.jpg" alt="contact.jpg"  />
                     </figure>
                     <div class="desc-wrapper" data-content-field="description">
                        <p><strong>Contact Us</strong></p>
                        <p> </p>
                     </div>
                  </div>
                  <div class="index-section-wrapper page-content">
                     <div class="content-inner has-content" data-content-field="main-content">
                        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1473665928535" id="page-57cc5024e3df282738e55499">
                           <div class="row sqs-row">
                              <div class="col sqs-col-12 span-12">
                                 <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-67735813c10b4ab9d4ec">
                                    <div class="sqs-block-content">
                                       <h2 class="text-align-center">Contact us</h2>
                                       <p class="text-align-center">@ +91 9964012919 / +91 9019784755</p>
                                       <p class="text-align-center">Or</p>
                                       <p class="text-align-center">Leave us a message !</p>
                                       <h2>Lets get in touch!</h2>
                                    </div>
                                 </div>
                                 <div class="row sqs-row">
                                    <div class="col sqs-col-6 span-6">
                                       <div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_39_1473013212432_10623">
                                          <div class="sqs-block-content">
                                             <div class="form-wrapper">
                                                <div class="form-inner-wrapper">
                                                    <form ng-submit="submit()" name="contactForm">
														<div class="field-list clear">
                                                         <fieldset id="name-yui_3_17_2_39_1473013212432_10628" class="form-item fields name required">
                                                            <div class="title">Name <span class="required">*</span></div>
                                                            <legend>Name</legend>
                                                            <div class="field first-name">
                                                               <label class="caption"><input class="field-element field-control" name="fname"
                                                                  x-autocompletetype="given-name" type="text"
                                                                  spellcheck="false"
                                                                  maxlength="30"
                                                                  data-title="First" 
																  ng-model="query.first_name"/>
                                                               First Name</label>
                                                            </div>
                                                            <div class="field last-name">
                                                               <label class="caption"><input class="field-element field-control" name="lname"
                                                                  x-autocompletetype="surname" type="text"
                                                                  spellcheck="false" maxlength="30" data-title="Last" 
																  ng-model="query.last_name"/>
                                                               Last Name</label>
                                                            </div>
                                                         </fieldset>
                                                         <div class="form-item field number required">
                                                            <label class="title" >Contact Number <span class="required">*</span></label>
                                                            <input class="field-element" type="text" spellcheck="false" numbers-only ng-model="query.phone" maxlength="10"/>
                                                         </div>
                                                         <div class="form-item field email required">
                                                            <label class="title">Email Address <span class="required">*</span></label>
                                                            <input class="field-element" name="email" type="text" spellcheck="false" ng-model="query.emailid"/>
                                                         </div>
                                                         <div class="form-item field text required">
                                                            <label class="title" >Subject <span class="required">*</span></label>
                                                            <input class="field-element text" type="text"  ng-model="query.subject"/>
                                                         </div>
                                                         <div class="form-item field textarea required">
                                                            <label class="title" >Message <span class="required">*</span></label>
                                                            <textarea class="field-element " ng-model="query.querymessage"></textarea>
                                                         </div>
                                                      </div>
                                                      <div class="form-button-wrapper form-button-wrapper--align-left">
                                                         <input class="button sqs-system-button sqs-editable-button" type="submit" value="Send Enquiry"/>
														 <span class="panel-danger">{{message}}</span>
														<span class="panel-success">{{SuccessMessage}}</span>
                                                      </div>
                                                   </form>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col sqs-col-6 span-6">
                                       <div class="sqs-block map-block sqs-block-map" data-aspect-ratio="111.93058568329718" data-block-json="&#123;&quot;location&quot;:&#123;&quot;mapLat&quot;:12.9893069,&quot;mapLng&quot;:77.59319660000006,&quot;mapZoom&quot;:12,&quot;markerLat&quot;:12.9893069,&quot;markerLng&quot;:77.59319660000006,&quot;addressTitle&quot;:&quot;Read a Book Challenge&quot;,&quot;addressLine1&quot;:&quot;Cunningham Road&quot;,&quot;addressLine2&quot;:&quot;Bengaluru, KA, 560051&quot;,&quot;addressCountry&quot;:&quot;India&quot;&#125;,&quot;vSize&quot;:null,&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;style&quot;:1,&quot;labels&quot;:true,&quot;terrain&quot;:false,&quot;controls&quot;:true,&quot;aspectRatio&quot;:111.93058568329718&#125;" data-block-type="4" id="block-yui_3_17_2_1_1414002530266_7650">
                                          <div class="sqs-block-content">&nbsp;</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- comment the linebreak between these two elements because science
               -->
         </main>