<main id="page" role="main">
	<!-- comment the linebreak between these two elements because science
		--><!-- comment the linebreak between these two elements because science
		-->
	<div id="content" class="main-content" data-content-field="main-content" data-collection-id="57cc505a8419c2fd019e9d69" >
		<!-- Create index sections -->
		<div id="moreau" class="index-section empty" data-url-id="moreau" data-collection-id="57cc509bb3db2bbff3d72110" data-edit-main-image="Banner">
			<div class="promoted-gallery-wrapper"></div>
			<div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
				<div class="color-overlay"></div>
				<figure id="thumbnail" class="loading content-fill">
					<img src="images/home-banner.jpg" alt="6856900-3x2-700x467.jpg"  />
				</figure>
				<div class="desc-wrapper" data-content-field="description">
					<p><strong>Read a Book Challenge</strong></p>
					<p>Lets change the world, one book at a time.</p>
					<p><a href="" ng-click="startChallenge()"><strong>Accept the challenge</strong></a></p>
				</div>
			</div>
			<div class="index-section-wrapper page-content">
				<div class="content-inner" data-content-field="main-content">
				</div>
			</div>
		</div>
		<div id="new-page-1" class="index-section" data-url-id="new-page-1" data-collection-id="57cc719cd482e9784e4604b2" data-edit-main-image="Banner">
			<div class="promoted-gallery-wrapper"></div>
			<div class="index-section-wrapper page-content">
				<div class="content-inner has-content" data-content-field="main-content">
					<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1473684369983" id="page-57cc719cd482e9784e4604b2">
						<div class="row sqs-row">
							<div class="col sqs-col-12 span-12">
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_3_1473017954130_8154">
									<div class="sqs-block-content">
										<h1 class="text-align-center">About Us</h1>
										<p> </p>
									</div>
								</div>
							</div>
						</div>
						<div class="row sqs-row">
							<div class="col sqs-col-6 span-6">
								<div class="sqs-block image-block sqs-block-image" data-aspect-ratio="100" data-block-type="5" id="block-313aa8fa9a2db0a58996">
									<div class="sqs-block-content">
										<div class="image-block-outer-wrapper layout-caption-below ">
											<div class="intrinsic about" style="max-width:1080.0px;">
												<div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" >
													<img class="thumb-image" alt="about-img.jpg" src="images/about-banner.jpg" class="img-responsive" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col sqs-col-6 span-6">
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-8ccb0a7f4da4a8747c74">
									<div class="sqs-block-content">
										<p>Read a Book Challenge is a one of a kind challenge for all bookworms. The challenge is to simply read a few books until they're picked back up in a month. Once you accept it expect a beautiful handpicked parcel of books delivered to your doorstep.</p>
										<p>We are an initiative created with the aim of rekindling the spirit of reading among today’s Bangaloreans – a trend which seems to be on the dwindle, with the advent of technology and the lack of time furnished by today’s lifestyle.&nbsp;</p>
										<p>What began as a symbiosis of a few friends trying to achieve their common goal of making more people read,&nbsp;Read a Book Challenge is now an attempt at bridging the gap between those who have a lot of books lying around unused and those who want to constantly explore the world of words.&nbsp;</p>
										<p>
											<!--EndFragment-->
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="new-page-4" class="index-section" data-url-id="new-page-4" data-collection-id="57cd4507cd0f686bb5e3bdf5" data-edit-main-image="Banner">
			<div class="promoted-gallery-wrapper"></div>
			<div class="index-section-wrapper page-content">
				<div class="content-inner has-content" data-content-field="main-content">
					<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1473699582623" id="page-57cd4507cd0f686bb5e3bdf5">
						<div class="row sqs-row">
							<div class="col sqs-col-1 span-1">
								<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-18e53529c3bc114941b6">
									<div class="sqs-block-content">&nbsp;</div>
								</div>
							</div>
							<div class="col sqs-col-10 span-10">
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-9b418056a2c4296449e8">
									<div class="sqs-block-content">
										<h1 class="text-align-center">Our Team</h1>
										<p dir="ltr" class="text-align-center">The Crazy Ones.</p>
										<p class="text-align-center"> </p>
									</div>
								</div>
							</div>
							<div class="col sqs-col-1 span-1">
								<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-a69097bbf0c3b9235bc3">
									<div class="sqs-block-content">&nbsp;</div>
								</div>
							</div>
						</div>
						<div class="row sqs-row">
							<div class="col sqs-col-6 span-6">
								<div class="sqs-block image-block sqs-block-image" data-aspect-ratio="75" data-block-type="5" id="block-b780cfd3ea5446fa8df8">
									<div class="sqs-block-content">
										<div class="image-block-outer-wrapper layout-caption-below ">
											<div class="intrinsic" style="max-width:720.0px;">
												<div style="padding-bottom:75.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" >
													<noscript><img src="images/team-img1.jpg"  alt="11755686_983006578387962_3225708170200174915_n.jpg"  /></noscript>
													<img class="thumb-image" alt="11755686_983006578387962_3225708170200174915_n.jpg" src="images/team-img1.jpg" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-7ff3c3d70540b1b8aa19">
									<div class="sqs-block-content">
										<h3 class="text-align-center">Musab HAssan</h3>
										<p class="text-align-center">The Visionary.</p>
									</div>
								</div>
							</div>
							<div class="col sqs-col-6 span-6">
								<div class="sqs-block image-block sqs-block-image" data-aspect-ratio="75" data-block-type="5" id="block-9bfaab401f303639f27b">
									<div class="sqs-block-content">
										<div class="image-block-outer-wrapper layout-caption-below ">
											<div class="intrinsic" style="max-width:813.0px;">
												<div style="padding-bottom:75.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" >
													<noscript><img src="images/team-img2.jpg"  alt="12791041_10153574923349069_875375394653082102_n.jpg"  /></noscript>
													<img class="thumb-image" alt="12791041_10153574923349069_875375394653082102_n.jpg" src="images/team-img2.jpg" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-cbe55da16c3800a7bcb7">
									<div class="sqs-block-content">
										<h3 class="text-align-center">Rishav Jain</h3>
										<p class="text-align-center">The Dreamer.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row sqs-row">
							<div class="col sqs-col-4 span-4">
								<div class="sqs-block image-block sqs-block-image" data-aspect-ratio="100" data-block-type="5" id="block-4bfd04c1f3ea539ae11d">
									<div class="sqs-block-content">
										<div class="image-block-outer-wrapper layout-caption-below ">
											<div class="intrinsic" style="max-width:1365.0px;">
												<div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" >
													<noscript><img src="images/team-img3.jpg"  alt="10504773_820629174655221_5061268031193913773_o.jpg"  /></noscript>
													<img class="thumb-image" alt="10504773_820629174655221_5061268031193913773_o.jpg" src="images/team-img3.jpg" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-51a86e509bc787205a57">
									<div class="sqs-block-content">
										<h3 class="text-align-center">Hyatt NUrool</h3>
										<p class="text-align-center">The Artist.</p>
									</div>
								</div>
							</div>
							<div class="col sqs-col-4 span-4">
								<div class="sqs-block image-block sqs-block-image" data-aspect-ratio="100" data-block-type="5" id="block-a4dee583738bc6b50b12">
									<div class="sqs-block-content">
										<div class="image-block-outer-wrapper layout-caption-below ">
											<div class="intrinsic" style="max-width:720.0px;">
												<div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" >
													<noscript><img src="images/team-img4"  alt="Snapchat-4716704960971521763.jpg"  /></noscript>
													<img class="thumb-image" alt="Snapchat-4716704960971521763.jpg" src="images/team-img4.jpg" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a8d2339188605f2da99e">
									<div class="sqs-block-content">
										<h3 class="text-align-center">Sneh Jain</h3>
										<p class="text-align-center">The Creator.</p>
									</div>
								</div>
							</div>
							<div class="col sqs-col-4 span-4">
								<div class="sqs-block image-block sqs-block-image" data-aspect-ratio="100" data-block-type="5" id="block-9702b223d651495db564">
									<div class="sqs-block-content">
										<div class="image-block-outer-wrapper layout-caption-below ">
											<div class="intrinsic" style="max-width:480.0px;">
												<div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" >
													<noscript><img src="images/team-img5.jpg"  alt="2016-09-12-PHOTO-00000009.jpg"  /></noscript>
													<img class="thumb-image" alt="2016-09-12-PHOTO-00000009.jpg" src="images/team-img5.jpg" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-e4732d7bbea7bbb1de62">
									<div class="sqs-block-content">
										<h3 class="text-align-center">Anamica Jain</h3>
										<p class="text-align-center">The Executor.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="detail-verify" class="fin-modal">
	<!--<span class="finish-close">×</span>-->
	<div class="read-popup">
		<form autocomplete="on" action="" method="POST" onsubmit="" name="myForm" >
			<div class="field-list clear">
				<!-- <h2>Details to Verify Mobile Number</h2> -->
				<div class="form-item field mail required">
					<label class="title">Email Id <span class="required">*</span></label>
					<input class="field-element" name="email" ng-model="email" spellcheck="false" type="text" ng-pattern="mail_regex" ng-required="true" >
					<span class="err" ng-show="myForm.email.$error.required" >Email is required.</span>
					<span class="err" ng-show="myForm.email.$error.pattern" >Please enter correct email address
				</div>
				<div class="form-item field number required">
					<label class="title">Contact Number <span class="required">*</span></label>
					<input class="field-element" ng-model="phone" name="phone" spellcheck="false" type="text"  ng-pattern="phone_regex" ng-required="true">
					<span class="err" ng-show="myForm.phone.$error.required">Phone number is required.</span>
					<span class="err" ng-show="myForm.phone.$error.pattern" >Please enter correct phone number</span>
					
				</div>
			</div>
			<div class="form-button-wrapper form-button-wrapper--align-left">
				<input class="button sqs-editable-button detail-verify-btn" value="Submit" type="button" ng-click="checkDetails()" >
			</div>
		</form>
	</div>
</div>
<div id="login-popup" class="fin-modal">
<span class="finish-close" ng-click="closeModal()">×</span>
	<div class="read-popup acpt-chllng-popup">
		<form autocomplete="on" action="" method="POST" onsubmit="">
			<div class="field-list clear">
				<div class="form-item field number required">
					<label class="title text-center">Please Login to Continue!</label>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-lg-12">
							<a ng-click="login('fb')"><img src="images/facebook.png" alt="" class="img-responsive"></a>
						</div>
						
						<div class="col-lg-12">
							<a  href="/auth/twitter"><img src="images/twitter.png" alt="" class="img-responsive"></a>
						</div>
						
						<div class="col-lg-12">
							<a ng-click="login('google')"><img src="images/gmail.png" alt="" class="img-responsive"></a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</main>
<div id="preFooter">
	<div class="pre-footer-inner">
		<div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1473661707084" id="preFooterBlocks">
			<div class="row sqs-row">
				<div class="col sqs-col-12 span-12"></div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- 
<div id="mobile-verify" class="fin-modal">
	<!--<span class="finish-close">×</span>
	<div class="read-popup">
		<form autocomplete="on" action="" method="POST" onsubmit="">
			<div class="field-list clear">
				<h2>Mobile Verification</h2>
				<div class="form-item field number required">
					<label class="title">One Time Password</label>
					<input class="field-element" spellcheck="false" type="text">
				</div>
			</div>
			<div class="form-button-wrapper form-button-wrapper--align-left">
				<input class="button sqs-editable-button" value="Verify" type="submit">
			</div>
		</form>
	</div>
</div> 
<script>
	$(document).ready(function() {
	$('.js-activated').dropdownHover().dropdown();
	$('#detail-verify').show();
	$('.finish-close').click(function(){
	$('#detail-verify').hide();
	$('#mobile-verify').hide();
	});	
	$('body').click(function() {
	$('#detail-verify').hide();
	$('#mobile-verify').hide();
	});
	
	$('.read-popup').click(function(e) {
	e.stopPropagation();
	});
	
	$('.detail-verify-btn').click(function(e) {
	e.preventDefault();
	$('#mobile-verify').show();
	});	  
	});
</script>-->