<style>
	.navbar{
		background-color: black !important;
	}
</style>
<main id="page" role="main" ng-controller="profileController" data-ng-init="loadData()">
	<!-- comment the linebreak between these two elements because science
		--><!-- comment the linebreak between these two elements because science
		-->
	<div id="content" class="main-content">
		<!-- Create index sections -->
		<div id="media" class="index-section">
			<div class="index-section-wrapper page-content">

				<div class="text-center" style="padding: 35px;">
					<img src="{{profileData.profile_image}}" alt="{{profileData.first_name}} {{profileData.last_name}}" height="216px" width="216px"/>
					<br/><strong>{{profileData.first_name}} {{profileData.last_name}}</strong>
				</div>
				<div class="text-center" ng-if="existChallenge">
					<span id="future_date"></span>
				</div>
				<div class="col-xs-12">
					<div class="text-center" ng-if="startChallenge">
						<a class="button sqs-system-button sqs-editable-button btn-start" href="#/start-challenge">Start the Challenge</a>
					</div>
					<div class="col-xs-12 col-sm-6 text-right" ng-if="existChallenge">
						<a class="button sqs-system-button sqs-editable-button btn-start return-books">Return the Books</a>
					</div>
					<div class="col-xs-12 col-sm-6 text-left" ng-if="existChallenge">
						<a class="button sqs-system-button sqs-editable-button btn-start time-ext">Extend the Time</a>
					</div>
				</div>
				<div class="form-wrapper">
					<div class="form-inner-wrapper">
							<div class="field-list clear">
								<div class="form-group">
									<label for="inputEmail" class="profile-label">Favourite Genre :</label>
									<select id="interestCategory" multiple="multiple" class="multi-input field-element">
										<option ng-repeat="x in gnere" value="{{x.id}}" >{{x.name}}</option>
									</select>
								</div>
							</div>
							<div class="panel-group profile-accordion" id="accordion">
								<div class="panel panel-default slideable" id="derp">
									<div>
										<div class="panel-body">
											<div class="content-inner has-content" data-content-field="main-content">
												<div class="mrgtopbot">
													<strong>Personal Details</strong> 
														<button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with pull-right" ng-click="editProfile();show = !show" ng-show="!show">Edit</button>
														<button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with pull-right" ng-show="show" ng-click="return();show = !show">Cancel</button>
												</div>
												<div class="field-list clear">
													<div id="deposit" class="form-item field text">
														<label class="title profile-label" for="deposit">Deposit Amount</label>
														<div class="profile-input">
															<div class="col-xs-12 col-sm-6 col-md-8 nopadding">
																<label class="caption"><input class="field-element text" type="text" id="deposit" ng-model="profileData.wallet" disabled/></label>
															</div>
															<div class="col-xs-12 col-sm-6 col-md-4 nopadding text-right">
																<button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with" ng-if="profileData.wallet < 0">Pay Deposit</button> <button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with" ng-if="profileData.wallet > 0">Withdraw</button>
															</div>
														</div>
													</div>
												</div>
												<form name="profileForm" id="profile">
													<div class="field-list clear">														
														<fieldset class="form-item fields name required clearfix">
															<div class="title">Name <span class="required">*</span></div>
															<legend>Name</legend>
															<div class="field first-name">
																<label class="caption">
																<input class="field-element field-control"
																	type="text"
																	name="first_name"
																	ng-model="profileData.first_name" required/>
																First Name</label>
															</div>
															<div class="field last-name">
																<label class="caption"><input class="field-element field-control"
																	type="text"
																	ng-model="profileData.last_name" required/>
																Last Name</label>
															</div>
															<div class="field first-name">
																<div>Contact Number <span class="required">*</span></div>
																<label class="caption"><input class="field-element field-control"
																	type="text"
																	ng-model="profileData.phone_number" required/>
																</label>
															</div>
															<div class="field last-name">
																<div>Alternative Contact Number <span class="required"></span></div>
																<label class="caption"><input class="field-element field-control"
																	type="text"
																	ng-model="profileData.alt_phone_number"
																	/>
																Please provide an alternative contact number on which we can get in touch with you.</label>
															</div>
														</fieldset>
														<div class="form-item field email required">
															<label class="caption">Email Address <span class="required">*</span>
															<input class="field-element" name="email" 
																type="email"  
																ng-model="profileData.email_id" required/></label>
														</div>
														<div class="form-item field email required">
															<label class="caption">Age<span class="required"></span>
															<input class="field-element" name="email" 
																type="text"  
																ng-model="profileData.age"/></label>
														</div>
														<p class="form-subtitle caption"><strong>Shipping and Billing Details</strong></p>
														<div class="form-item field textarea required">
															<label class="caption">Address <span class="required">*</span>
															<input class="field-element" ng-model="profileData.address" required/></label>
														</div>
														<fieldset class="form-item fields name required">
															<legend>Name</legend>
															<div class="field first-name">
																<label class="caption">City <span class="required">*</span>
																<select class="field-element" ng-model="profileData.city" required>
																	<option ng-repeat="x in city" value="{{x.city_name}}" ng-selected="x.city_name == profileData.city">{{x.city_name}}</option>
																</select>
																</label>
															</div>
															<div class="field last-name">
																<label class="caption">Area <span class="required" >*</span> 
																<input class="field-element field-control" ng-model="profileData.area" required/>
																</label>
															</div>
														</fieldset>
														<div class="form-item field text">
															<label class="caption" >Landmark
															<div class="description">Mention the nearest Landmark.</div>
															<input class="field-element text" type="text" ng-model="profileData.landmark" required/>
															</label>
														</div>
														<div class="form-item field text required">
															<label class="caption">Pincode <span class="required">*</span>
															<select class="field-element" ng-model="profileData.pincode" required>
																<option ng-repeat="x in pincode" value="{{x.area}}" ng-selected="x.area == profileData.pincode">{{x.area}}</option>
															</select>
															</label>
														</div>
													</div>
													<div class="form-button-wrapper form-button-wrapper--align-left">
														<input type="button" class="button sqs-system-button sqs-editable-button btn-pay-with" ng-click="updateProfile()" value="SAVE">
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
									<div class="panel-heading" slide-toggle="#derp">
										<h4 class="panel-title text-center">
											<a class="accordion-toggle">
												<div class="bounce">
													<i class="fa fa-angle-down" aria-hidden="true"></i>
													<i class="fa fa-angle-up" aria-hidden="true"></i>
												</div>
											</a>
										</h4>
									</div>
							</div>
							<!-- accordion ends -->
							
							
							<div class="nav nav-tabs profile-tab">
								<div class="col-xs-12 col-sm-4 tb-pdgm tb-bdr read-tab" ng-class="{'active': content == 'reading'}"><a href="" ng-click="content = 'reading'">Currently Reading</a></div>
								<div class="col-xs-12 col-sm-4 tb-pdgm tb-bdr read-tab" ng-class="{'active': content == 'wishlist'}"><a href="" ng-click="content = 'wishlist'">My Wishlist</a></div>
								<div class="col-xs-12 col-sm-4 tb-pdgm tb-bdr read-tab" ng-class="{'active': content == 'library'}"><a href="" ng-click="content = 'library'">My Library</a></div>
							</div>
							<div class="tab-content profile-tab-content" ng-switch="content">
								<div id="home" class="" ng-switch-when="reading">
									<div class="col-xs-12 nopadding">
										<div class="row row-pdgm">
											<div class="col-xs-6 col-sm-6 col-md-4 mrgn-btm buk-mobile-device" ng-repeat="details in books" >
												<div class="buk-nme">
													<div class="buk-img">
														<img src="{{details.cover}}" alt="">
													</div>
													<div class="buk-dtls">
														<p>{{details.title}}</p>
														<p>{{details.author}}</p>
														<p>Genre : {{details.category_name}}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="menu1" class="" ng-switch-when="wishlist">
									<div class="col-xs-12 nopadding">
										<div class="row">
											<div class="col-sm-12">
												<div id="imaginary_container">
													<div class="input-group stylish-input-group">
														<input type="text" class="form-control"  placeholder="Search" >
														<span class="input-group-addon">
														<button type="submit">
														<span class="glyphicon glyphicon-search"></span>
														</button>  
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row row-pdgm">
											<div class="col-xs-6 col-sm-6 col-md-4 mrgn-btm buk-mobile-device">
												<div class="buk-nme">
													<div class="buk-img">
														<img src="images/book-1.jpg" alt="">
													</div>
													<div class="buk-dtls">
														<p>Name of the book</p>
														<p>Author</p>
														<p>Genre : Fictional</p>
														<p><i class="fa fa-trash" aria-hidden="true"></i></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="menu2" class="" ng-switch-when="library">
									<div class="col-xs-12 nopadding">
										<div class="row">
											<div class="col-sm-12">
												<div id="imaginary_container">
													<div class="input-group stylish-input-group">
														<input type="text" class="form-control"  placeholder="Search" >
														<span class="input-group-addon">
														<button type="submit">
														<span class="glyphicon glyphicon-search"></span>
														</button>  
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row row-pdgm">
											<div class="col-xs-6 col-sm-6 col-md-4 mrgn-btm buk-mobile-device">
												<div class="buk-nme">
													<div class="buk-img">
														<img src="images/book-1.jpg" alt="">
													</div>
													<div class="buk-dtls">
														<p>Name of the book</p>
														<p>Author</p>
														<p>Genre : Fictional</p>
														<p><i class="fa fa-trash" aria-hidden="true"></i></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div><!-- comment the linebreak between these two elements because science
		-->
</main>
<!-- Paytm Details for Withdrawal popup -->
<div id="return-books" class="fin-modal">
	<span class="finish-close">×</span>
	<div class="read-popup">
		<form autocomplete="on" action="" method="POST" onsubmit="">
			<div class="field-list clear">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="gam-img-bdr">
								<img src="images/romance.jpg" alt="" id="img-select">
							</div>
							<p>ROMANCE</p>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="gam-img-bdr">
								<img src="images/romance.jpg" alt="" id="img-select">
							</div>
							<p>ROMANCE</p>
						</div>
						<div class="form-item field number required">
							<label class="title">Reason</label>
							<input class="field-element" spellcheck="false" type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="form-button-wrapper form-button-wrapper--align-left">
				<input class="button sqs-editable-button" value="Continue" type="submit">
			</div>
		</form>
	</div>
</div>
<!-- Paytm Details for Withdrawal popup -->
<!-- mobile verification popup -->
<div id="time-ext" class="fin-modal">
	<span class="finish-close">×</span>
	<div class="read-popup">
		<form autocomplete="on" action="" method="POST" onsubmit="">
			<div class="field-list clear">
				<div class="form-item field number required">
					<label class="title">Time of Extension</label>
					<input  spellcheck="false" type="text">
					<!--<select>
						<option>1 Week</option>
						<option>2 Weeks</option>
						<option>3 Weeks</option>
						<option>4 Weeks</option>
						</select>-->
				</div>
			</div>
		</form>
		<div class="form-button-wrapper form-button-wrapper--align-left">
			<input class="button sqs-editable-button" value="Pay" type="submit">
		</div>
	</div>
</div>
<script type="text/javascript">
	$('select').select2();
	$(document).ready(function(){
	$('.read-tab a').click(function(){
	$('.read-tab').removeClass('active');
	$(this).parent().addClass('active');
	});
	});
</script>
<script>
	$(document).ready(function(){
	
	$('.return-books').click(function(e){
	  $('#collapseOne').collapse();
	});
	
	
	$('.return-books').click(function(e){
	  $('#return-books').show();
	  e.stopPropagation();
	});	
	$('.finish-close').click(function(){
	  $('#return-books').hide();
	});
	$('.time-ext').click(function(e){
	  $('#time-ext').show();
	  e.stopPropagation();
	});	
	$('.finish-close').click(function(){
	  $('#time-ext').hide();
	});
	$('body').click(function() {
	  $('#return-books').hide();
	});
	
	$('.read-popup').click(function(e) {
	    e.stopPropagation();
	});
	});
	
	function getTimeRemaining(endtime) {
	  var t = Date.parse(endtime) - Date.parse(new Date());
	  var seconds = Math.floor((t / 1000) % 60);
	  var minutes = Math.floor((t / 1000 / 60) % 60);
	  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
	  var days = Math.floor(t / (1000 * 60 * 60 * 24));
	  return {
	    'total': t,
	    'days': days,
	    'hours': hours,
	    'minutes': minutes,
	    'seconds': seconds
	  };
	}
	
	function initializeClock(id, endtime) {
	  var clock = document.getElementById(id);
	  var daysSpan = clock.querySelector('.days');
	  var hoursSpan = clock.querySelector('.hours');
	  var minutesSpan = clock.querySelector('.minutes');
	  var secondsSpan = clock.querySelector('.seconds');
	
	  function updateClock() {
	    var t = getTimeRemaining(endtime);
	
	    daysSpan.innerHTML = t.days;
	    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
	    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
	    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
	
	    if (t.total <= 0) {
	      clearInterval(timeinterval);
	    }
	  }
	
	  updateClock();
	  var timeinterval = setInterval(updateClock, 1000);
	}
	
	var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
	initializeClock('clockdiv', deadline);
	
</script>