<style>
	.navbar{
		background-color: black !important;
	}
</style>
<main id="page" role="main" ng-controller="startChallengeController" ng-init="return()">
        
        <!-- comment the linebreak between these two elements because science
        --><!-- comment the linebreak between these two elements because science
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="57cd327e893fc06c8c5079d0" >
         <!-- Create index sections -->

  <br>
  <div id="media" class="index-section" data-url-id="media" data-collection-id="57cc5fabe4fcb57e0d377ab5" data-edit-main-image="Banner">
    <div class="promoted-gallery-wrapper"></div>
    
      
    

    <div class="index-section-wrapper page-content">
	<div class="row">
	<div class="col-xs-12 col-sm-4 text-center">Step: 1</div>
	<div class="col-xs-12 col-sm-4 text-center">Step: 2</div>
	<div class="col-xs-12 col-sm-4 text-center">Step: 3</div>
	</div>

<div class="nav nav-tabs profile-tab">
  <div class="col-xs-12 col-sm-4 tb-styl tb-pdgm tb-bdr read-tab"  ng-class="{'active': step == 'step1'}"><a href="">Choose No.of Books & Genres </a></div>
  <div class="col-xs-12 col-sm-4 tb-styl tb-pdgm tb-bdr read-tab" ng-class="{'active': step == 'step2'}"><a href="" >Shopping & Billing Details</a></div>
  <div class="col-xs-12 col-sm-4 tb-pdgm tb-bdr read-tab" ng-class="{'active': step == 'step3'}"><a href="" >Checkout</a></div>
</div>

<div class="tab-content profile-tab-content" ng-switch="step">

  <div id="home" ng-switch-when="step1">
    	<div class="col-xs-12 nopadding">
		<div class="row">
		
			<div id="noofbooks" class="form-groups col-xs-12">
                <label>No of Books <span class="required">*</span></label>
                <select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
				</select>
            </div>
			  
			<div class="col-xs-12">
			<p class="sub-title">Select the Games <span class="required">*</span></p>
			
			<div class="row">
				<div class="col-xs-3" ng-repeat="x in gnere">
					<div class="gam-img-bdr active_{{x.id}}" >
						<img src="{{x.image}}" alt="{{x.name}}" id="img-select">
					</div>
					<p>{{x.name}}</p>
				</div>
			</div>
			
			<div class="form-button-wrapper form-button-wrapper--align-left col-md-12">
			<div class="row">
			<button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with" ng-click="step = 'step2'">Continue</button>
			</div>
			</div>
			</div>
		</div>
	</div>
  </div>
  <div id="menu1" class="" ng-switch-when="step2">
     	<div class="col-xs-12">
		<div class="row">
			<div class="form-wrapper">
			<div class="form-inner-wrapper">
			<form autocomplete="on" action="https://rishav-jain-6ema.squarespace.com/" method="POST" onsubmit="return (function(form) { Y.use ('squarespace-form-submit', 'node', function (Y) { (new Y.Squarespace.FormSubmit({ formNode: Y.Node(form) })).submit('57cc5fabe4fcb57e0d377ab4', '57cc5fabe4fcb57e0d377ab5', 'page-57cc5fabe4fcb57e0d377ab5') }); return false;})(this)">	  
	<div class="panel-group profile-accordion" id="accordion">
  <div class="panel panel-default">
 
    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body nopadding">
        <div class="content-inner has-content" data-content-field="main-content">
		
			<div class="field-list clear">
            
			  <p class="form-subtitle"><strong>Shipping Details</strong></p>
			  <div id="textarea-yui_3_17_2_1_1473010258464_47139" class="form-item field textarea required">
                <label class="title" for="textarea-yui_3_17_2_1_1473010258464_47139-field">Address <span class="required">*</span></label>
                <input class="field-element" name="email" x-autocompletetype="email" type="text" spellcheck="false" id="email-yui_3_17_2_5_1473010258464_6257-field">
              </div>
			  <fieldset id="name-yui_3_17_2_5_1473010258464_6256" class="form-item fields name required">
              
              <legend>Name</legend>
                <div class="field first-name">
                  <label class="caption">City <span class="required">*</span> 
				  <select class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First">
					<option>City1</option>
					<option>City2</option>
					<option>City3</option>
					<option>City4</option>
				  </select>
                  </label>
                </div>
                <div class="field last-name">
                  <label class="caption">Area <span class="required">*</span> 
				  <input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last">
                  </label>
                </div>
              </fieldset>
			  
              <!--<div id="select-yui_3_17_2_1_1473010258464_33382" class="form-item field select required">
                <label class="title" for="select-yui_3_17_2_1_1473010258464_33382-field">No Of Books <span class="required">*</span></label>
                <div class="description">Mention the number of books you would like to read in a month for the challenge. All charges are inclusive of both pickup & delivery. Payment Mode - Cash on Delivery.</div>
                <select name="select-yui_3_17_2_1_1473010258464_33382-field">
                    <option value="1 (Rs 100/pm)">1 (Rs 100/pm)</option>
                    <option value="2 (Rs 150/pm)">2 (Rs 150/pm)</option>
                    <option value="3 (Rs 200/pm)">3 (Rs 200/pm)</option>
                    <option value="4 (Rs 300/pm)">4 (Rs 300/pm)</option>
                    <option value="5 (Rs 350/pm)">5 (Rs 350/pm)</option>
                    <option value="6 (Rs 400/pm)">6 (Rs 400/pm)</option>
                </select>
              </div>-->
              
              <div id="text-yui_3_17_2_1_1473010258464_45892" class="form-item field text">
                <label class="title" for="text-yui_3_17_2_1_1473010258464_45892-field">Landmark</label>
                <div class="description">Mention the nearest Landmark.</div>
                <input class="field-element text" type="text" id="text-yui_3_17_2_1_1473010258464_45892-field">
              </div>
              <div id="text-yui_3_17_2_1_1473010258464_47805" class="form-item field text required">
                <label class="title" for="text-yui_3_17_2_1_1473010258464_47805-field">Pincode <span class="required">*</span></label>
                <input class="field-element text" type="text" id="text-yui_3_17_2_1_1473010258464_47805-field">
              </div>
			  
			  
			  <fieldset id="name-yui_3_17_2_5_1473010258464_6256" class="form-item fields name required">
              
              <legend>Name</legend>
                <div class="field first-name">
                  <label class="caption">Contact Number<span class="required">*</span> 
				  <input class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First">
                  </label>
                </div>
                <div class="field last-name">
                  <label class="caption">Alternative Contact Number<span class="required">*</span> 
				  <input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last">
				  Please provide an alternative contact number on which we can get in touch with you.
                  </label>
                </div>
              </fieldset>
		
              <!--<div id="textarea-yui_3_17_2_1_1473010258464_32692" class="form-item field textarea">
                <label class="title" for="textarea-yui_3_17_2_1_1473010258464_32692-field">Any genre of books that you "Dislike" ?</label>
                <div class="description">There might be certain genre of books like science fiction or horror etc that you dislike. Please mention them to make sure we don't send them to you.</div>
                <textarea class="field-element " id="textarea-yui_3_17_2_1_1473010258464_32692-field" ></textarea>
              </div>-->
			  
			  <p class="form-subtitle"><strong>Order Details</strong></p>
			 <div class="table-responsive"> 
			  <table class="table odr-dtls-tbl">
				  <thead>
					<tr class="prdt-thead">
					  <th>No.of Books</th>
					  <th>Genres</th>
					  <th>Expected Delivery</th>
					  <th class="text-right">Price</th>
					  <th class="text-right">Sub Total</th>
					</tr>
				  </thead>
				  <tbody>
					<tr class="prdt-dtls">
					  <td>6</td>
					  <td>Romance,Horror,Thriller</td>
					  <td>27 October 2016, Thursday</td>
					  <td class="text-right">Rs.600</td>
					  <td class="text-right">Rs.600</td>
					</tr>
					<tr>
					  <td colspan="3">
					  <td class="text-right">Delivery</td>
					  <td class="text-right">25</td>
					</tr>
					<tr>
					  <td colspan="3">
					  <td class="text-right">Pickup</td>
					  <td class="text-right">25</td>
					</tr>
					<tr>
					  <td colspan="3">
					  <td class="text-right">Deposit</td>
					  <td class="text-right">500</td>
					</tr>
					
					<tr>
					  <td colspan="3">
					  <td class="text-right">Total Amount</td>
					  <td class="text-right">1150</td>
					</tr>
					
				  </tbody>
				</table>
			 </div>
        </div>
      <div class="form-button-wrapper form-button-wrapper--align-left">
        <button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with">Continue</button>
      </div>
  </div>

</div>

</div></div></div>
<!-- accordion ends -->


</form>
</div>
      </div>
			
			
		
		</div>
	</div>
  </div>
  <div id="menu2" class="" ng-switch-when="step3">
     	<div class="col-xs-12 srch-panel">
		<div class="row">
			<p class="form-subtitle"><strong>Payment Method</strong></p>
			
			<ul class="nav nav-pills nav-stacked col-md-3">
  <li class="active"><a href="#tab_a" data-toggle="pill">Credit Card</a></li>
  <li><a href="#tab_b" data-toggle="pill">Netbanking</a></li>
  <li><a href="#tab_c" data-toggle="pill">Debit Card</a></li>
  <li><a href="#tab_d" data-toggle="pill">Cash on Delivery</a></li>
</ul>
<div class="tab-content nav-stkd-ctnt col-md-6">
        <div class="tab-pane active" id="tab_a">
			<div class="crdt-crds">
             <p><strong>Pay using Credit Card:</strong></p>
			 <div class="crdt-crd-img">
			 <img src="images/visa.png" alt=""><img src="images/master-card.png" alt=""><img src="images/amex.png" alt=""><img src="images/maestro.png" alt="">
			 </div>
			</div>
            <div class="form-wrapper">
			<div class="form-inner-wrapper">
			<form autocomplete="on" action="https://rishav-jain-6ema.squarespace.com/" method="POST" onsubmit="return (function(form) { Y.use ('squarespace-form-submit', 'node', function (Y) { (new Y.Squarespace.FormSubmit({ formNode: Y.Node(form) })).submit('57cc5fabe4fcb57e0d377ab4', '57cc5fabe4fcb57e0d377ab5', 'page-57cc5fabe4fcb57e0d377ab5') }); return false;})(this)">	  
	<div class="panel-group profile-accordion" id="accordion">
  <div class="panel panel-default">
 
    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body nopadding">
        <div class="content-inner has-content" data-content-field="main-content">
		
			<div class="field-list clear">
            
			  
			  <div id="textarea-yui_3_17_2_1_1473010258464_47139" class="form-item field textarea required">
                <label class="title" for="textarea-yui_3_17_2_1_1473010258464_47139-field">Card Number<span class="required">*</span></label>
                <input class="field-element" name="email" x-autocompletetype="email" type="text" spellcheck="false" id="email-yui_3_17_2_5_1473010258464_6257-field">
              </div>
			  <fieldset id="name-yui_3_17_2_5_1473010258464_6256" class="form-item fields name required">
              
              <legend>Name</legend>
                <div class="field first-name">
                  <label class="caption">Expire Date<span class="required">*</span> 
				  <input class="field-element field-control" name="fname" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30" data-title="First">
                  </label>
                </div>
                <div class="field last-name">
                  <label class="caption">CVV<span class="required">*</span> 
				  <input class="field-element field-control" name="lname" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30" data-title="Last">
                  </label>
                </div>
              </fieldset>
			  
              <!--<div id="select-yui_3_17_2_1_1473010258464_33382" class="form-item field select required">
                <label class="title" for="select-yui_3_17_2_1_1473010258464_33382-field">No Of Books <span class="required">*</span></label>
                <div class="description">Mention the number of books you would like to read in a month for the challenge. All charges are inclusive of both pickup & delivery. Payment Mode - Cash on Delivery.</div>
                <select name="select-yui_3_17_2_1_1473010258464_33382-field">
                    <option value="1 (Rs 100/pm)">1 (Rs 100/pm)</option>
                    <option value="2 (Rs 150/pm)">2 (Rs 150/pm)</option>
                    <option value="3 (Rs 200/pm)">3 (Rs 200/pm)</option>
                    <option value="4 (Rs 300/pm)">4 (Rs 300/pm)</option>
                    <option value="5 (Rs 350/pm)">5 (Rs 350/pm)</option>
                    <option value="6 (Rs 400/pm)">6 (Rs 400/pm)</option>
                </select>
              </div>-->
             
              <div id="text-yui_3_17_2_1_1473010258464_47805" class="form-item field text required">
                <label class="title" for="text-yui_3_17_2_1_1473010258464_47805-field">Name on Card<span class="required">*</span></label>
                <input class="field-element text" type="text" id="text-yui_3_17_2_1_1473010258464_47805-field">
              </div>
			  
			
        </div>
      <div class="form-button-wrapper form-button-wrapper--align-left">
        <button type="button" class="button sqs-system-button sqs-editable-button btn-pay-with">Pay</button>
      </div>
  </div>

</div>

</div></div></div>
<!-- accordion ends -->


</form>
</div>
      </div>

        </div>
        <div class="tab-pane" id="tab_b">
             <h4>Pane B</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas.</p>
        </div>
        <div class="tab-pane" id="tab_c">
             <h4>Pane C</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas.</p>
        </div>
        <div class="tab-pane" id="tab_d">
             <h4>Pane D</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas.</p>
        </div>
</div><!-- tab content -->

		<div class="col-md-3 nopadding">
		  <div class="panel panel-default">
			  <div class="main-heading"><p>Total <span>Rs.1150</span></p></div>
			  <div class="prdt-panel-body">
				<p>Subtotal <span>600</span></p>
				<p>Delivery <span>25</span></p>
				<p>Pickup <span>25</span></p>
				<p>Deposite <span>500</span></p>
			</div>
		</div>

</div>
		</div>
	</div>
  </div>
</div>


      </div>
    </div>
  </div>
 
</div>
	
	
      
    </div>
  </div>
        </div><!-- comment the linebreak between these two elements because science
        -->
        
      </main>
